html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  background-color: #f0e9e9;
}

select {
  font-size: 2.75rem;
  padding: .45rem;
  margin: .5% 0 0 .5%;
}

#optionHeader {
  font-size: 2.5rem;
}

option {
  font-size: 2.25rem;
}

optgroup {
  font-size: 2.35rem;
  font-weight: bold;
}

@media (min-width: 35rem) and (max-width: 100rem) and (orientation: portrait) {
  select {
    font-size: calc(1.6rem + 8 * ((100vw - 35rem) / 650)); /*range: 16-24*/
  }

  #optionHeader {
    font-size: calc(1.5rem + 8 * ((100vw - 35rem) / 650)); /*range: 15-23*/;
  }

  optgroup {
    font-size: calc(1.4rem + 8 * ((100vw - 35rem) / 650)); /*range: 14-22*/;
  }

  option {
    font-size: calc(1.3rem + 8 * ((100vw - 35rem) / 650)); /*range: 13-21*/;
  }
}
