html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body.faunaGradient {
  background: conic-gradient(at 50% -3%, #382417 90deg, #2d634c, #B19470 270deg);
}

body.floraGradient {
  background: conic-gradient(at 50% -3%, #2da5ad 120deg, #169761, #463594 240deg);
}

body.fungiGradient {
  background: conic-gradient(at 50% -1%, #35858B, #072227, #AEFEFF);
}

header {
  max-height: 10%;
}

select {
  font-size: 2.75rem;
  font-family: "Playfair Display", serif;
  padding: .45rem;
  margin: 1% 0 1.5rem 1%;
}

#optionHeader {
  font-size: 2.5rem;
}

option {
  font-size: 2.25rem;
}

optgroup {
  font-size: 2.30rem;
  font-weight: bold;
}

div[id="statsContainer"] {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 0.7rem;
}

div.infoBlock, div.timerBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.infoBlock {
  flex: 1 2 20%;
}

div.timerBlock {
  flex: 1 1 15%;
}

div > p {
  width: fit-content;
  font-size: 3.3rem;
  font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell;
  margin: 0 0 1rem 0;
}

p.faunaColor {
  color: #F8FAE5;
}

p.floraColor {
  color: #F8FF95;
}

p.fungiColor {
  color: #78e6e2;
}

div.statsDisplay, button {
  font-size: 3.2rem;
}

div.statsDisplay {
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 .3rem;
  font-family: "Protest Guerrilla", sans-serif;
  text-align: center;
  font-size: 3.5rem;
}

button[id="resetBtn"] {
  max-width: 37.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: #fff;
}

main {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 1rem;
  font-size: 3rem;
  width: 95%;
  height: 70vh;
  margin: 1.5rem auto; 
}

div.scene {
  max-width: 250px;
  width: 100%;
  height: 100%;
  perspective: 1250px;
  border: .5rem dashed #000;
}

div.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform .5s;
}

.isRotated {
  transform: rotateY(-180deg);
}

div.back, div.front {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

div.back {
  background: url("../images/cards/cardBack.svg") center/contain no-repeat;
}

div.backFauna {
  background-color: #70b173;
}

div.backFlora {
  background-color: #bd68a6;
}

div.backFungi {
  background-color: #359475 ;
}

div.front {
  background-color: yellowgreen;
  transform: rotateY(180deg);
}

img.match-image {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 200px) and (max-width: 1000px) and (orientation: portrait) {
  select {
    max-width: 90%;
    font-size: calc(2.2rem + 8 * ((100vw - 20rem) / 800)); /*range: 22-30*/
  }

  #optionHeader {
    font-size: calc(1.5rem + 8 * ((100vw - 20rem) / 800)); /*range: 15-23*/;
  }

  optgroup {
    font-size: calc(1.4rem + 8 * ((100vw - 20rem) / 800)); /*range: 14-22*/;
  }

  option, header > div {
    font-size: calc(1.3rem + 8 * ((100vw - 20rem) / 800)); /*range: 13-21*/;
  }

  div.statsDisplay {
    font-size: calc(2.5rem + 8 * ((100vw - 20rem) / 800)); /*range: 25-33*/
  }

  div[id="timerDisplay"] {
    font-size: calc(2.4rem + 9 * ((100vw - 20rem) / 800)); /*range: 24-33*/
  }

  div > p {
    font-size: calc(2rem + 12 * ((100vw - 20rem) / 800)); /*range: 20-32*/
  }
}

@media screen and (orientation:portrait) and (max-width: 600px) {
  main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}

@media screen and (min-width: 600.01px) and (max-width: 1000px) {
  main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1.75rem;
    padding: 1.7rem;
  }
}

@media screen and (min-width: 1000.01px) {
  main {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2.5rem;
    padding: 2rem;
  }
}
