html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  margin: 0;
  background-color: #f0e9e9;
  box-sizing: border-box;
}

header {
  max-height: 10%;
}

select {
  font-size: 2.75rem;
  font-family: "Playfair Display", serif;
  padding: .45rem;
  margin: .2% 0 0 1%;
}

#optionHeader {
  font-size: 2.5rem;
}

option {
  font-size: 2.25rem;
}

optgroup {
  font-size: 2.30rem;
  font-weight: bold;
}

div[id="statsContainer"] {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 0 .7rem;
}

div.infoBlock, div.timerBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.infoBlock {
  flex: 1 2 20%;
}

div.timerBlock {
  flex: 1 1 15%;
}

div > p {
  width: fit-content;
  font-size: 3.3rem;
  margin: 0 0 1rem 0;
}

div.statsDisplay, button {
  font-size: 3.2rem;
}

div.statsDisplay {
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 .3rem;
  font-family: "Protest Guerrilla", sans-serif;
  background-color: #fff;
  text-align: center;
  font-size: 3.5rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

button:hover {
  cursor: pointer;
}

main {
  display: grid;
  font-size: 3rem;
  width: 95%;
  max-height: 70%;
}

@media (min-width: 30rem) and (max-width: 100rem) and (orientation: portrait) {
  select {
    max-width: 90%;
    font-size: calc(1.6rem + 8 * ((100vw - 30rem) / 600)); /*range: 16-24*/
  }

  #optionHeader {
    font-size: calc(1.5rem + 8 * ((100vw - 30rem) / 600)); /*range: 15-23*/;
  }

  optgroup {
    font-size: calc(1.4rem + 8 * ((100vw - 30rem) / 600)); /*range: 14-22*/;
  }

  option, header > div {
    font-size: calc(1.3rem + 8 * ((100vw - 30rem) / 600)); /*range: 13-21*/;
  }

  div.statsDisplay {
    font-size: calc(2.5rem + 8 * ((100vw - 30rem) / 600)); /*range: 25-33*/
  }

  div > p {
    font-size: calc(1.6rem + 16 * ((100vw - 30rem) / 600)); /*range: 16-32*/
  }
}
