html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  margin: 0;
  background-color: #f0e9e9;
  box-sizing: border-box;
}

header {
  max-height: 10%;
}

select {
  font-size: 2.75rem;
  font-family: "Playfair Display", serif;
  padding: .45rem;
  margin: .2% 0 0 1%;
}

#optionHeader {
  font-size: 2.5rem;
}

option {
  font-size: 2.25rem;
}

optgroup {
  font-size: 2.35rem;
  font-weight: bold;
}

div[id="statsContainer"] {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div[id="statsContainer"] > div {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div > p {
  width: fit-content;
  font-size: 2.7rem;
}

div.statsDisplay {
  flex: 1 1 20%;
  font-size: 2.55rem;
  width: fit-content;
  min-height: 100%;
  padding: 0 .3rem;
  font-family: "Playfair Display", serif;
  background-color: #fff;
  text-align: center;
}

div.timer {
  font-family: "Protest Guerrilla", sans-serif;
}

main {
  display: grid;
  font-size: 3rem;
  width: 95%;
  max-height: 70%;
}

@media (min-width: 35rem) and (max-width: 100rem) and (orientation: portrait) {
  select {
    max-width: 90%;
    font-size: calc(1.6rem + 8 * ((100vw - 35rem) / 650)); /*range: 16-24*/
  }

  #optionHeader {
    font-size: calc(1.5rem + 8 * ((100vw - 35rem) / 650)); /*range: 15-23*/;
  }

  optgroup {
    font-size: calc(1.4rem + 8 * ((100vw - 35rem) / 650)); /*range: 14-22*/;
  }

  option, header > div {
    font-size: calc(1.3rem + 8 * ((100vw - 35rem) / 650)); /*range: 13-21*/;
  }

  div.statsDisplay {
    width: 80%;
  }

  div > p {
    font-size: calc(1.6rem + 8 * ((100vw - 35rem) / 650)); /*range: 16-24*/
  }
}
